@keyframes exampleAnimation {
    0% {
     
      transform: translateX(0);
    }
    50% {
      
      transform: translateX(100px);
    }
    100% {
   
      transform: translateX(0);
    }
  }
 .submit{
    animation: exampleAnimation 0.1s  infinite;
  }
 